<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>url shortener</title>
</head>
<body>
  <form id="urlForm">
    <label for="url">Url to shorten:</label>
    <input type="text", id="url", name="url">

    <input type="submit", value="shorten">
  </form>  

  <a id="shortenedUrl"></a>

  {% csrf_token %}
  <script>
    document.getElementById("urlForm").addEventListener("submit", (event) => {
      event.preventDefault();
      const url = document.getElementById("url").value;

      const encoded = fetch("/shorten", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value, 
        },
        body: JSON.stringify({
          url: url
        })
      }).then(async (result) => {
        json = await result.json();
        element = document.getElementById("shortenedUrl");
        element.href = window.location.origin + "/" + json.url;
        element.innerText = window.location.origin + "/" + json.url;
      })
    })  
    
    
  </script>
</body>
</html>